* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: rgba(15, 118, 110, 1);
  --light-green: rgba(20, 184, 166, 1);
  --whitish: rgba(240, 253, 250, 1);
  --button: rgba(204, 251, 241, 1);
  --link: rgba(148, 163, 184, 1);
}
body,
button {
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}
nav {
  width: 100%;
  position: fixed;
  padding: 0.8rem;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100vh;
  border: none;
  background: rgba(15, 118, 110, 1);
  border: 1px solid rgba(15, 118, 110, 1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
  padding: 5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: right 0.3s ease;
  z-index: 10;
}
.mobile-menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

#logo {
  width: 10rem;
  height: 3rem;
  object-fit: contain;
}
#logo img {
  width: 100%;
  height: 100%;
}
#menu {
  z-index: 100;
  width: 2rem;
  height: 1.9rem;
  margin-left: auto;
  position: relative;
}
#menu span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 0.2rem;
  border-radius: 0.1rem;
  background: rgba(15, 118, 110, 1);
  transition: 0.3s ease;
}
#menu :first-child {
  top: 25%;
}
#menu span:last-child {
  top: 75%;
}

.mobile-menu.active {
  right: 0;
}
#menu.active span:first-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #ffffff;
}
#menu.active span:nth-child(2) {
  opacity: 0;
}
#menu.active span:last-child {
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
  background: #ffffff;
}
.hero-section {
  padding: 15rem 1rem;
  flex-direction: column;
  background-image: url("https://ik.imagekit.io/Ujosem2007/hero-town%201.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 60% 60%;
}
.future {
  width: 16rem;
  height: 2rem;
  border-radius: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.text {
  padding: 1rem 0 0 0;
  color: #ffffff;
}
.heading {
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
.heading span {
  color: #ea580c;
}
.subtext {
  padding: 1rem 0 0.8rem 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4rem;
}
.buttons {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}
.buttons button {
  width: 7.5rem;
  height: 2.3rem;
  border-radius: 0.6rem;
  border: hidden;
}
.buttons :first-child {
  background-color: var(--main-color);
  color: #ffffff;
  transition: 0.2s ease;
}
.buttons :first-child:hover {
  background-color: var(--light-green);
}
.buttons :last-child {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease;
}
.buttons :last-child:hover {
  color: rgba(15, 118, 110, 1);
  background-color: var(--whitish);
}
.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 1rem 2rem;
  background: linear-gradient(180deg, #115e59 0%, #0f766e 100%);
  gap: 1.5rem;
  column-gap: 2rem;
}
.numbers div {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.numbers .upper {
  font-size: 2.1rem;
}
.numbers .lower {
  font-size: 0.8rem;
}

.sections {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.7rem;
}
.first-p {
  padding-top: 3rem;
  font-size: small;
  letter-spacing: 0.2rem;
  color: rgba(15, 118, 110, 1);
}
.intro {
  padding: 1rem 0 1rem 0;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.04rem;
  line-height: 3rem;
}
.cards {
  padding: 2rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.card {
  width: 100%;
  padding: 4rem 1rem 1rem 1rem;
  text-align: start;
  box-shadow: 0px 2px 19px -7px #00000040;
  border-radius: 1rem;
}

.card .bolder {
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 0.03rem;
  padding-top: 1.4rem;
  padding-bottom: 0.4rem;
}
.card .icon {
  padding-bottom: 1rem;
}
.icon-box {
  width: 3rem;
  height: 3rem;
  background: rgba(19, 78, 74, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.icon-d {
  width: 1.85rem;
  height: 1.85rem;
  color: var(--main-color);
  transition: color 0.3s ease;
}

.icon-box:hover {
  background: var(--main-color);
  /*box-shadow: 0 0 18px rgba(20, 241, 227, 0.6);*/
}

.icon-box:hover .icon-d {
  color: #ffffff;
}
hr {
  opacity: 0.5;
}

.images {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 0.5rem;
}
.image-b {
  color: #ffffff;
  width: 18rem;
  height: 13rem;
  padding: 1.2rem;
  display: flex;
  border-radius: 1rem;
  align-items: end;
}
.inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.images .one {
  background-image: url("https://ik.imagekit.io/Ujosem2007/Pexels%20Photo%20by%20Pixabay.png");
  background-size: cover;
}
.images .three {
  background-image: url("https://ik.imagekit.io/Ujosem2007/Pexels%20Photo%20by%20Quang%20Nguyen%20Vinh.png");
  background-size: cover;
}
.image-b .bolder {
  font-size: 1.35rem;
  font-weight: bolder;
  letter-spacing: 0.03rem;
}
.image-b button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  height: 2rem;
  width: 2rem;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease;
}
#category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(15, 118, 110, 1);
  color: rgba(15, 118, 110, 1);
  background-color: #ffffff;
  transition: 0.3s ease;
  gap: 0.3rem;
}
#category svg {
  transform: scale(0.8);
}
.categories button:hover,
#category:hover {
  background-color: rgba(15, 118, 110, 1);
  color: #ffffff;
}
.partnership .intro {
  letter-spacing: 0.1rem;
  padding-top: 0.4rem;
  line-height: 2.8rem;
}
.steps {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 1rem 1rem 0 1rem;
  row-gap: 1rem;
}
.step {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  column-gap: 1rem;
}
.step span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  font-weight: bolder;
  font-size: 1.5rem;
  background-color: rgba(15, 118, 110, 1);
  color: #ffffff;
}
.steps div .bolder {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}
#hotel-image {
  padding-top: 2rem;
  width: 90%;
  height: 90%;
  object-fit: contain;
  overflow: hidden;
}
#hotel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials .intro {
  padding: 1.6rem 2rem 1rem 2rem;
}
.testimonials .cards {
  padding: 0 0.5rem 0 0.5rem;
}
.testimonials .card {
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}
.description span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-size: 1.5rem;
  background-color: rgba(15, 118, 110, 1);
  color: #ffffff;
}
.name {
  font-size: 1.3rem;
  font-weight: bold;
}
#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  background: rgba(15, 118, 110, 1);
  color: #ffffff;
  padding-bottom: 2rem;
}
#cta p {
  padding: 1rem 1.7rem 1rem 1.7rem;
}
#cta .intro {
  padding: 3rem 2rem 0 2rem;
}
#cta button {
  font-size: 0.9rem;
  width: 8.5rem;
  height: 2.6rem;
  border-radius: 1rem;
  border: 1px solid #ffffff;
  transition: 0.3 ease;
}
.btn {
  display: flex;
  gap: 1rem;
}
.btn :last-child {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 14px;
  background: var(--light-green);
  cursor: pointer;
}
.btn :first-child {
  color: var(--main-color);
  background-color: var(--whitish);
}
.btn :first-child:hover {
  background-color: var(--button);
}
.btn :last-child:hover {
  background: var(--whitish);
  color: rgba(15, 118, 110, 1);
}
footer {
  padding: 1.5rem;
  background: rgba(4, 47, 46, 1);
  color: #ffffff;
}
#close {
  padding-top: 0.5rem;
  line-height: 1.8rem;
}
footer section {
  font-size: 0.9rem;
  padding-top: 3.5rem;
  padding-bottom: 2.5rem;
  line-height: 2.4rem;
  display: flex;
  justify-content: space-between;
}
.first {
  font-size: 1.2rem;
  font-weight: bold;
}
#copyright,
.links {
  padding-top: 2.5rem;
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-evenly;
}
.links a {
  text-decoration: none;
  color: #ffffff;
}
footer section p {
  transition: 0.1s ease;
}
.close :hover {
  color: var(--link);
}
